# Ignorar entornos virtuales
venv/
mi_entorno_virtual/

# Ignorar archivos de caché de Python
__pycache__/
*.py
*.pyo
*.pyd
*.pyc
# Ignorar archivos de configuración de entornos locales
.env

# Ignorar archivos de bases de datos temporales
*.sqlite3

# Ignorar logs y otros archivos temporales
*.log
models/__pycache__/vehiculo.cpython-312.pyc
models/__pycache__/ticket.cpython-312.pyc
controllers/__pycache__/parking_controller.cpython-312.pyc
controllers/__pycache__/parking_controller.cpython-312.pyc
models/__pycache__/ticket.cpython-312.pyc
models/__pycache__/vehiculo.cpython-312.pyc
