<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crear Nueva Promoción</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container mt-4">
        <h1 class="text-center">Crear Nueva Promoción</h1>
        
        <form action="{{ url_for('promocion.nueva_promocion') }}" method="POST" class="mt-4">
            <div class="form-group">
                <label for="horas">Cantidad de Horas</label>
                <input type="number" class="form-control" id="cantidad_horas" name="cantidad_horas" required>
            </div>
            <div class="form-group">
                <label for="descuento">Porcentaje de Descuento</label>
                <input type="number" class="form-control" id="porcentaje_descuento" name="porcentaje_descuento" required>
            </div>
            <button type="submit" class="btn btn-success">Crear Promoción</button>
            <a href="{{ url_for('promocion.listar_promociones') }}" class="btn btn-secondary">Volver</a>
            {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                <div class="alert alert-warning" role="alert">
                    {% for category, message in messages %}
                        <p>{{ message }}</p>
                    {% endfor %}
                </div>
            {% endif %}
        {% endwith %}
        </form>
    </div>
</body>
</html>
