<!-- templates/ticket_detalle.html -->
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ticket de Estacionamiento</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container mt-4">
        <h1 class="text-center">Detalles del Ticket de Estacionamiento</h1>

        <div class="mt-4">
            <p><strong>Patente:</strong> {{ ticket.vehiculo.patente }}</p>
            <p><strong>Cliente:</strong> {{ ticket.vehiculo.nombre_cliente }}</p>
            <p><strong>Ubicación de Cochera:</strong> {{ ticket.vehiculo.ubicacion_cochera }}</p>
            <p><strong>Hora de Ingreso:</strong> {{ ticket.hora_entrada }}</p>
            <p><strong>Hora de Emisión:</strong> {{ ticket.hora_emision }}</p>
            <p><strong>Tiempo de estadía (minutos):</strong> {{ "%.1f"|format(ticket.tiempo * 60) }}</p>
            <p><strong>Monto Total:</strong> {{ ticket.monto_total }} ARS</p>
            <p><strong>Detalles:</strong> {{ ticket.detalles }}</p>
        </div>

        <div class="text-center mt-4">
            <a href="{{ url_for('index') }}" class="btn btn-secondary">Volver al Inicio</a>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.0.7/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
