<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vehículos Registrados</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container mt-4">
        <h1>Vehículos Registrados</h1>
        
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <div class="alert alert-warning" role="alert">
                    {% for message in messages %}
                        {{ message }}<br>
                    {% endfor %}
                </div>
            {% endif %}
        {% endwith %}
        
        <table class="table table-bordered">
            <thead class="thead-dark">
                <tr>
                    <th>Patente</th>
                    <th>Nombre del Cliente</th>
                    <th>Hora de Ingreso</th>
                    <th>Hora de Egreso</th>
                    <th>Ubicación de Cochera</th>
                    <th>Tipo de Vehiculo</th>
                </tr>
            </thead>
            <tbody>
                {% for vehiculo in vehiculos %}
                    <tr>
                        <td>{{ vehiculo.patente }}</td>
                        <td>{{ vehiculo.nombre_cliente }}</td>
                        <td>{{ vehiculo.hora_ingreso.strftime('%Y-%m-%d %H:%M:%S') }}</td>
                        <td>
                            {% if vehiculo.hora_egreso %}
                                {{ vehiculo.hora_egreso.strftime('%Y-%m-%d %H:%M:%S') }}
                            {% else %}
                                No registrado
                            {% endif %}
                        </td>
                        <td>{{ vehiculo.ubicacion_cochera }}</td>
                        <td>{% if vehiculo.tipo_vehiculo %}
                                {{ vehiculo.tipo_vehiculo }}
                            {% else %}
                                No registrado
                            {% endif %}</td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="5" class="text-center">No hay vehículos registrados.</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

        <a href="{{ url_for('register') }}" class="btn btn-primary">Registrar Nuevo Vehículo</a>
        <a href="{{ url_for('index') }}" class="btn btn-secondary">Volver al Inicio</a>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.0.7/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
